@page "/account/profile"

@inherits ProfileBase
@attribute [Authorize]



<h1>Firstname:@User?.FirstName</h1>

<h1>Lastname:@User?.LastName</h1>

<h1>Username:@User?.Username</h1>

<h1>Age:@User?.Age</h1>

<h1>Role:@User?.Role</h1>




<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        
        

        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary"> <img src="@ImgUrl" height="100" width="100"/></button> 
            <span class="name mt-3">@User?.FirstName @User?.LastName</span> 
            <span class="idd">Username : @User?.Username</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <span class="idd1">user_id : @User?.Id</span> <span><i class="fa fa-copy"></i></span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <span class="number">1069 <span class="follow">Followers</span></span>
            </div>
            <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div>
            <div class="text mt-3">
                
                <span>
                    @{
                        if (string.IsNullOrEmpty(User?.Bio))
                        {
                            <InputTextArea DisplayName="Enter bio" @bind-Value="@Bio"></InputTextArea>
                            <button @onclick="UpdateBio" type="submit">Add Bio</button>
                        }
                        else
                        {
                            <span>Bio:@User?.Bio</span>
                            <InputTextArea DisplayName="Enter bio" @bind-Value="@Bio"></InputTextArea>
                            <button @onclick="UpdateBio" type="submit">Update Bio</button>
                        }
                    }

                </span>
                

            </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                @{
                    if (User?.Age==null)
                    {
                        <label>Enter your age</label>
                        <input type="number" @bind="Age"/>
                        <button class="btn btn-primary" type="submit" @onclick="UpdateAge">Add age</button>
                    }
                    else
                    {
                        <p>Age:@User?.Age</p>

                        <input type="number" @bind="Age" />
                        <button class="btn btn-primary" type="submit" @onclick="UpdateAge">Update Age</button>

                    }
                }

            </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Joined @User?.CreatedDateTime.ToString("M/d/yy")</span> </div>
        </div>
    </div>
</div>


<style>
    * {
        margin: 0;
        padding: 0
    }

    body {
        background-color: #efefef
    }

    .card {
        width: 350px;
        background-color: #efefef;
        border: none;
        cursor: pointer;
        transition: all 0.5s;
    }

    .image img {
        transition: all 0.5s
    }

    .card:hover .image img {
        transform: scale(1.5)
    }

    .btn {
        height: 140px;
        width: 140px;
        border-radius: 50%
    }

    .name {
        font-size: 22px;
        font-weight: bold
    }

    .idd {
        font-size: 14px;
        font-weight: 600
    }

    .idd1 {
        font-size: 12px
    }

    .number {
        font-size: 22px;
        font-weight: bold
    }

    .follow {
        font-size: 12px;
        font-weight: 500;
        color: #444444
    }

    .btn1 {
        height: 40px;
        width: 150px;
        border: none;
        background-color: #000;
        color: #aeaeae;
        font-size: 15px
    }

    .text span {
        font-size: 13px;
        color: #545454;
        font-weight: 500
    }

    .icons i {
        font-size: 19px
    }

    hr .new1 {
        border: 1px solid
    }

    .join {
        font-size: 14px;
        color: #a0a0a0;
        font-weight: bold
    }

    .date {
        background-color: #ccc
    }
</style>

@{
    //https://i.imgur.com/wvxPV9S.png
    //https://i.imgur.com/DO7Sw9L.jpeg
}